<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset your password</title>
</head>
<body>
    <h1>Reset form</h1>
    <form  method="post">
        {% csrf_token %}
        <input type="password" name="password" placeholder="Enter password" >
        <input type="password" name="password_confirmation" placeholder="confirm password" >
        <button type="submit">Reset</button>
    </form>
    
</body>
</html>